import { config } from "dotenv";
import { faker } from "@faker-js/faker";
import { createUsersFeature } from "./features";
import postgres from "postgres";
import { createDbClient } from "./db-client";

// Not needed now, but in the future.
config({ path: ".env.local" });

const seed = 1;

const main = async () => {
  faker.seed(seed);

  const dbClient = createDbClient();

  const usersFeature = createUsersFeature(dbClient);

  for (let i = 0; i < 10; i++) {
    const firstName = faker.person.firstName();
    const lastName = faker.person.lastName() + ` ${i}`;
    const name = `${firstName} ${lastName}`;

    console.log({ name });

    await usersFeature.repository.createUser({
      name,
      age: faker.number.int({ min: 0, max: 110 }),
      email: faker.internet.email({ firstName, lastName }),
    });
  }

  await dbClient.end();
};

main();
